head, body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont ,'Segoe UI',Roboto,Oxygen,Ubuntu,
    Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    background-color: #818181;
}
h1{
    margin: auto 0;
}

header{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;

}
.wrapper{
    width: 1000px;
    margin: 0 auto;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
    
}
.wrapper a{
    margin: auto 0 auto 15px;
    color: rgb(145, 157, 167);
    text-decoration: none;
}

nav ul{
    display: flex;
    gap: 35px;
    font-size: xx-large;
    list-style: none;
    font-weight: bold;
    padding: 0 30px;
    align-items: center;
    background-color: rgba(240, 248, 255, 0);
}
.html{
    color: #b61b1b;
    position: relative;
}
.css{
    color: #2254c0;
    position: relative;
}
.js{
    color: #cdda1c;
    position: relative;
}
.html:hover{
    color: rgb(236, 18, 18);
}
.css:hover{
    color: #0853f5;
}
.js:hover{
    color: #eeff00;
}
.html:hover::after{
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 35px;
    left: 0px;
    width: 90px;
    height: 2px;
}
.css:hover::after{
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 35px;
    left: -5px;
    width: 70px;
    height: 2px;
}
.js:hover::after{
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 35px;
    left: -8px;
    width: 50px;
    height: 2px;
}
/*Main*/
main{
    display: flex;
    margin: 0 auto;
    width: 1000px;
}

#sidebar{
    background-color: rgba(255, 255, 255, 0.616);
    width: 200px;
    border-radius: 0 20px 15px 0;
}
#sidebar .categoria{
    text-align: center;
}
.categoria{
    color: rgba(0, 0, 0, 0.719);
    font-weight: bolder;
    font-size: larger;
    margin: 20px 0 10px 0;
}
.liMenu{
    list-style: none;
}
.liMenu li{
    margin: 0 0 10px 0;
}
#sidebar .html, #sidebar .css, #sidebar .js{
    text-align: center;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.822);
    margin: 0 0 15px 0;

}